.home_text_area {
    width: 90%;
    height: 400px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    margin-top: 1.3em;
}

.home_text_area .home_greetings {
    margin: 0 0 0.3em 0;
}

.home_text_area .home_greetings span {
    color: var(--headings_colors);
    font-size: 1.5em;
    font-weight: 600;
}

.home_text_area h1 {
    font-size: 1.8em;
    margin: 0 0 0.2em 0;
    font-weight: 600;
}

.home_text_area .job_title {
    opacity: 0.7;
    margin: 0 0 1.3em 0;
    font-size: 1.05em;
}

.home_text_area p {
    opacity: 0.7;
    text-align: start;
    line-height: 1.2em;
    margin: 0 0 1.5em 0;
}

.home_text_area button {
    width: 110px;
    height: 35px;
    font-size: 1em;
    word-spacing: 0.2em;
    letter-spacing: 0.09em;
    text-align: center;
    cursor: pointer;
    color: var(--background_color_one);
    background-color: var(--headings_colors);
    border: none;
    padding: 0.6em;
    border-radius: 6px;
    transition: 0.5s;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.home_text_area button:hover {
    transform: translateY(-2px);
    background-color: var(--background_color_two);
    color: var(--headings_colors);
}

@media (max-width: 912px) {
    .home_text_area {
        height: 550px;
    }
}

@media (max-width: 820px) {
    .home_text_area {
        height: 500px;
    }
}

@media (max-width: 580px) {
    .home_text_area {
        height: 550px;
    }
}

@media (max-width: 500px) {
    .home_text_area {
        width: 100%;
        height: 600px;
    }
}

@media (max-width: 430px) {
    .home_text_area {
        height: 800px;
    }
}

@media (max-width: 480px) {
    .home_text_area {
        height: 750px;
    }
}