.home_text_area {
    width: 90%;
    height: fit-content;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    margin-top: 1.5em;
    margin-bottom: 2.5em;
}

.home_text_area .home_greetings {
    margin: 0 0 0.3em 0;
    color: var(--background_color_two);
}

.home_text_area .home_greetings span {
    color: var(--headings_colors);
    font-size: 1.5em;
    font-weight: 600;
}

.home_text_area h1 {
    font-size: 1.8em;
    margin: 0 0 0.2em 0;
    color: var(--background_color_two);
    font-weight: 600;
}

.home_text_area .job_title {
    opacity: 0.7;
    margin: 0 0 1.3em 0;
    color: var(--background_color_two);
    font-size: 1.05em;
}

.home_text_area p {
    opacity: 0.9;
    text-align: start;
    line-height: 1.2em;
    color: var(--background_color_two);
    margin: 0 0 1.5em 0;
}

.middle_image_container {
    width: 0;
    height: 0;
    transition: 0.5s;
}

.home_text_area button {
    width: 150px;
    height: 40px;
    font-size: 1em;
    word-spacing: 0.2em;
    letter-spacing: 0.09em;
    text-align: center;
    cursor: pointer;
    background-color: var(--headings_colors);
    border: none;
    padding: 0.6em;
    border-radius: 6px;
    transition: 0.5s;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.home_text_area button:hover {
    transform: translateY(-2px);
    background-color: var(--background_color_two);
    color: var(--headings_colors);
}

.home_text_area button a {
    text-decoration: none;
    color: var(--background_color_one);
    transition: 0.5s;
}

.home_text_area button:hover a {
    color: var(--headings_colors);
}

@media (max-width: 820px) {
    .home_text_area .middle_image_container {
        width: 100%;
        height: 40vh;
        margin: 1em 0 1em 0;
        background-image: url('../../../assets/homeImages/long_photo.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}

@media (max-width: 560px) {
    .home_text_area {
        width: 100%;
    }
}

@media (max-width: 481px) {
    .home_text_area .middle_image_container {
        background-image: url('../../../assets/homeImages/small_image.jpg');
    }
}
