.home_footer {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    margin-top: 1.3em;
}

.home_footer a {
    position: relative;
    text-decoration: none;
    color: black;
    background-color: white;
    border: 0.5px solid var(--background_color_one);
    border-radius: 4px;
    padding: 0.2em;
    margin: 0 0.5em 0 0;
    font-size: 1em;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: 0.5s;
}

.home_footer a:hover {
    transform: translateY(-3px);
    background-color: var(--headings_colors);
    color: var(--background_color_one);
    border: 0.5px solid var(--headings_colors);
}

.home_footer a::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.4), transparent);
    transition: 0.5s;
}

.home_footer a:hover:after {
    left: 100%;
}

@media (max-width: 480px) {
    .home_footer a {
        font-size: 1.2em;
    }
}