.main_footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background_color_two);
    height: 6vh;
    width: 100%;
}

.main_footer p {
    font-size: 1em;
    text-align: center;
    color: var(--background_color_one);
}

@media (max-width: 480px) {
    @media (max-height: 480px) {
        .main_footer {
            display: none;
        }
    }
}