.contact_view_container {
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background_color_one);
}

.contact_content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    height: 90%; 
    padding: 2em;
}

.contact_content h2 {
    position: relative;
    color: var(--headings_colors);
    font-size: 2.3em;
    margin: 0.8em;
    padding: 0.3em;
}

.contact_content h2::before {
    content: '';
    width: 45px;
    border: 3px solid var(--headings_colors);
    position: absolute;
    bottom: -5px;
    left: 1.6em;
    border-radius: 50%;
}

.contact_content p {
    font-size: 1.3em;
    color: var(--background_color_two);
    height: 3em;
    text-align: center;
    margin-bottom: 0.5em;
    width: 65%;
}

.contact_content form {
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: 2.8em 2.8em 6em 2.8em;
    gap: 1.3em;
    justify-content: center;
    width: 80%;
    height: 70%;
    padding: 2em;
}

.contact_content input {
    font-size: 1.1em;
    background-color: var(--gray_color);
    color: var(--background_color_two);
    border: none;
    padding-left: 0.4em;
    transition: 0.5s;
    border-radius: 3px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.contact_content input:focus {
    background-color: var(--headings_colors);
}

.contact_content input::placeholder {
    color: var(--background_color_two);
}

.contact_content input:focus::placeholder {
    color: var(--background_color_one);
}

.contact_content textarea {
    grid-column: span 2;
    display: block;
    font-size: 1.2em;
    background-color: var(--gray_color);
    color: var(--background_color_two);
    border: none;
    padding: 0.4em;
    resize: none;
    transition: 1s;
    border-radius: 3px;
}

.contact_content textarea:focus {
    background-color: var(--headings_colors);
}

.contact_content textarea::placeholder {
    color: var(--background_color_two);
}

.contact_content textarea:focus::placeholder {
    color: var(--background_color_one);
}

.contact_content .button_container {
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.contact_content button {
    width: 110px;
    height: 35px;
    font-size: 1em;
    word-spacing: 0.2em;
    letter-spacing: 0.09em;
    text-align: center;
    cursor: pointer;
    background-color: var(--headings_colors);
    border: none;
    padding: 0.6em;
    border-radius: 6px;
    transition: 0.5s;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    border: 2px solid var(--headings_colors);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact_content .button_container button:hover {
    transform: translateY(-2px);
    background-color: var(--background_color_two);
    color: var(--headings_colors);
    border: 2px solid var(--headings_colors);
}

form .form_loader {
    width: 20px;
    height: 20px;
    border-top: 3px solid var(--headings_colors);
    border-right: 3px solid black;
    border-bottom: 3px solid var(--headings_colors);
    border-left: 3px solid black;
    border-radius: 50%;
    animation: spin 1.4s linear infinite;
}

.contact_view_container .notification_message {
    position: fixed;
    width: 350px;
    height: 90px;
    background-color: var(--headings_colors);
    bottom: 2em;
    right: -25em;
    right: 2em;
    border-radius: 6px;
    transition: 0.8s;
    padding: 1.5em;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    font-size: 1.2em;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 1015px) {
    .contact_content form {
        width: 100%;
    }
}

@media (max-width: 790px) {
    .contact_content form {
        grid-template-columns: 50% 50%;
    }
}

@media (max-width: 680px) {
    .contact_view_container {
        padding: 0em;
    }

    .contact_content {
        padding: 0;
    }

    .contact_content form {
        grid-template-columns: 50% 50%;
    }
}

@media (max-width: 505px) {
    .contact_view_container {
        height: fit-content;
    }

    .contact_content h2 {
        margin-top: 2em;
    }

    .contact_content p {
        font-size: 1.1em;
        width: 100%;
    }

    .contact_content form {
        grid-template-columns: 90%;
        grid-template-rows: 2.6em 2.6em 2.6em 2.6em 5em 2.6em;
        margin-bottom: 3.2em;
    }

    .contact_content textarea {
        grid-column: span 1;
    }

    .contact_content .button_container {
        grid-column: span 1;
    }
}

@media (max-width: 380px) {
    .contact_content form {
        grid-template-columns: 100%;
        margin-top: 2em;
    }
}