.technologies_view_container {
    width: 100%;
    min-height: 70vh;
    height: fit-content;
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--gray_color);
}

.technologies_view_container h2 {
    position: relative;
    color: var(--headings_colors);
    font-size: 2.3em;
    margin: 0.8em;
    padding: 0.3em;
}

.technologies_view_container h2::before {
    content: '';
    width: 45px;
    border: 3px solid var(--headings_colors);
    position: absolute;
    bottom: -5px;
    left: 1.9em;
    border-radius: 50%;
}

.technologies_view_container .technologies_content {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    column-gap: 15px;
    row-gap: 20px;
    padding: 3em;
}

.technologies_content .image_box {
    position: relative;
    padding: 0.3em;
    border-radius: 4px;
    width: 130px;
    height: 130px;
    transition: 0.5s;
    cursor: pointer;
    background-color: #dfdfdf;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.6);
}

.technologies_content .image_box:hover {
    scale: 1.03;
}

.technologies_content .image_box span {
    position: absolute;
    top: 15px;
    left: 25%;
    border-radius: 5px;
    transition: 0.5s;
    padding: 3px;
    background-color: var(--background_color_two);
    color: var(--background_color_one);
    opacity: 0;
    z-index: 0;
}

.technologies_content .image_box:hover span {
    opacity: 0.95;
    z-index: 1;
    transform: translateY(-30px);
}

.technologies_view_container .technologies_content img {
    width: 100%;
    height: 100%;
    transition: 1s;
}

@media (max-width: 545px) {
    .technologies_view_container {
        height: fit-content;
    }

    .technologies_view_container h2 {
        font-size: 2em;
    }

    .technologies_content h3 {
        margin: 2em 0 2em 0;
    }

    .technologies_view_container .technologies_content {
        padding: 0.3em;
    }

    .images_category {
        column-gap: 0.7em;
    }

    .technologies_content .image_box {
        width: 80px;
        height: 80px;
    }
}

@media (max-width: 380px) {
    .technologies_view_container {
        padding: 0.3em;
    }

    .technologies_view_container h2 {
        font-size: 2em;
    }

    .technologies_view_container .technologies_content {
        padding: 0.3em;
    }

    .images_category {
        column-gap: 0.7em;
    }

    .technologies_content .image_box {
        width: 65px;
        height: 65px;
    }
}