.services_view_container {
    width: 100%;
    height: fit-content;
    padding: 2em 6em 2em 6em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--background_color_one);
}

.services_view_container h2 {
    position: relative;
    color: var(--headings_colors);
    font-size: 2.3em;
    margin: 0 0 0.8em 0;
    padding: 0.3em;
}

.services_view_container h2::before {
    content: '';
    width: 45px;
    border: 3px solid var(--headings_colors);
    position: absolute;
    bottom: -5px;
    left: 1.8em;
    border-radius: 50%;
}

.services_view_container .services_heading_paragraph {
    font-size: 1.2em;
    color: var(--background_color_two);
    height: 3em;
    text-align: center;
    margin-bottom: 1em;
    width: 60%;
}

.servicers_boxes {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 20em 20em;
    gap: 1.3em;
    justify-content: center;
    width: fit-content;
    height: fit-content;
}

.one_service_box {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding: 0 2em 0 2em;
    background-color: #ededed;
    border-radius: 4px;
    background-color: #dfdfdf;

    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1);
}

.one_service_box:hover {
    position:unset;
    background-color: #cacaca;
    scale: 1.02;
}

.servicers_boxes .one_service_box img {
    width: 5em;
    height: 5em;
    margin: 2em;
}

.servicers_boxes .one_service_box h4 {
    font-size: 1.2em;
    padding: 0.3em;
    margin: 0 0 0.5em 0;
    text-align: center;
    color: var(--headings_colors);
}

.servicers_boxes .one_service_box p {
    color: #000;
    text-align: center;
    font-size: 1.1em;
}

@media (max-width: 1051px) {
    .services_view_container {
        padding: 2em;

    }
}

@media (max-width: 923px) {
    .servicers_boxes {
        grid-template-columns: 45% 45%;
        grid-template-rows: 18em 18em 18em;
        gap: 1.3em;
    }
}

@media (max-width: 721px) {
    .servicers_boxes {
        grid-template-columns: 48% 48%;
        gap: 1em;
    }

    .services_view_container .services_heading_paragraph {
        font-size: 1em;
        width: 80%;
    }

    .servicers_boxes .one_service_box img {
        width: 4em;
        height: 4em;
    }

    .servicers_boxes .one_service_box h4 {
        font-size: 1.05em;
    }

    .servicers_boxes .one_service_box p {
        font-size: 0.95em;
    }
}

@media (max-width: 548px) {
    .servicers_boxes .one_service_box img {
        width: 4em;
        height: 4em;
        margin-top: 1em;
    }
}

@media (max-width: 480px) {
    .services_view_container .services_heading_paragraph {
        width: 100%;
    }

    .servicers_boxes {
        grid-template-columns: 100%;
        grid-template-rows: repeat(6, 15em);
        gap: 1em;
    }

    .servicers_boxes .one_service_box img {
        width: 5em;
        height: 5em;
    }

    .servicers_boxes .one_service_box h4 {
        font-size: 1.1em;
    }
}