.sidebar_list_ {
    position: absolute;
    list-style: none;
    width: 40px;
    height: 40px;
    font-size: 1.3em;
    color: var(--background_color_one);
    background-color: var(--headings_colors);
    border: none;
    border-radius: 7px;
    transition: 0.5s;
    margin: 0 0 0.6em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-delay: calc(var(--i) * 0.05s);
}

.sidebar_list_:hover {
    transform: translateX(-1px);
}

.showSidebarfalse {
    top: 0;
    right: 0;
    z-index: -1;
    opacity: 0;
}

.showSidebartrue {
    top: calc(var(--i) * 2.3em);
    right: 0;
    z-index: 1;
    opacity: 1;
}

.sidebar_list_ a {
    position: relative;
    width: 90%;
    height: 90%;
    text-decoration: none;
    text-align: center;
    border-radius: 7px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    transition: 0.5s;
}

.sidebar_list_ a:hover {
    background-color: var(--background_color_one);
}

.sidebar_list_ .header_navbar_text {
    position: absolute;
    right: 50px;
    font-size: 0.7em;
    background-color: var(--headings_colors);
    color: var(--background_color_two);
    padding: 0.3em;
    border-radius: 4px;
    transition: 0.5s;
    opacity: 0;
    z-index: -1;
    transition-delay: 0.05s;
    pointer-events: none;
}

.sidebar_list_ a:hover .header_navbar_text {
    opacity: 1;
    z-index: 2;
    transform: translateX(4px);
    transition: 0.5s;
    padding-right: 0.6em;
}

.sidebar_list_ .header_navbar_text::after {
    content: '';
    width: 6px;
    height: 6px;
    position: absolute;
    background-color: var(--headings_colors);
    right: -3px;
    top: 30%;
    transform: rotate(45deg);
}

.sidebar_list_ .header_navbar_icons {
    color: var(--background_color_one);
    padding: 0;
    margin: 0;
    transition: 0.5s;
}

.sidebar_list_ a:hover .header_navbar_icons {
    color: var(--headings_colors);
}

@media (max-width: 480px) {
    .sidebar_list_ {
        width: 30px;
        height: 30px;
        font-size: 1.1em;
    }

    .sidebar_list_ .header_navbar_text {
        right: 40px
    }
}