.projects_view_container {
    width: 100%;
    height: fit-content;
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--gray_color);
}

.projects_view_container h2 {
    position: relative;
    color: var(--headings_colors);
    font-size: 2.3em;
    margin: 0 0 0.8em 0;
    padding: 0.3em;
}

.projects_view_container h2::before {
    content: '';
    width: 45px;
    border: 3px solid var(--headings_colors);
    position: absolute;
    bottom: -5px;
    left: 1.8em;
    border-radius: 50%;
}

.projects_view_container .projects_heading_paragraph {
    font-size: 1.2em;
    color: var(--background_color_two);
    height: 3em;
    text-align: center;
    margin-bottom: 1em;
    width: 60%;
}

.projects_boxes {
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: 20em 20em 20em;
    gap: 1.5em;
    justify-content: center;
    width: fit-content;
    height: fit-content;
}

.projects_boxes .one_project_box {
    position: relative;
    display: flex;
    justify-content: start;
    align-content: center;
    flex-direction: row;
    padding: 1em;
    border-radius: 7px;
    overflow: hidden;
    background-color: var(--background_color_one);
    cursor: pointer;
    transition: 1s;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1);
}

.projects_boxes .one_project_box:hover {
    background-color: var(--background_color_two);
}

.projects_boxes .one_project_box img {
    width: 50%;
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: 1s;
    z-index: 1;
    border-radius: 7px;
}

.projects_boxes .one_project_box:hover img {
    transform: translateX(-100%);
    filter: blur(2px);
}

.project_text_content {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-direction: column;
    transition: 1s;
    width: 50%;
    height: 100%;
    padding: 0 5px 0 0;
    filter: blur(3px);
}

.project_text_content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    border: 1px solid var(--headings_colors);
    filter: blur(5px);
}

.one_project_box:hover:hover .project_text_content {
    transform: translateX(107%);
    filter: blur(0);
}

.projects_boxes .one_project_box h4 {
    color: var(--headings_colors);
    font-size: 1.5em;
    padding: 0.3em;
    margin: 0 0 0.5em 0;
}

.projects_boxes .one_project_box p {
    text-align: start;
    font-size: 0.9em;
    font-weight: 100;
    letter-spacing: 0.02em;
    font-style: normal;
    color: var(--background_color_two);
    line-height: 1.15em;
    opacity: 0.8;
    transition: 1s;
    height: 65%;
}

.projects_boxes .one_project_box:hover p {
    opacity: 1;
    color: var(--background_color_one);
}

.one_project_box .project_links a {
    position: relative;
    text-decoration: none;
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 1.3em;
    padding: 3px;
    border-radius: 4px;
    color: var(--background_color_two);
    background-color: var(--headings_colors);
    opacity: 0;
    transition: 1.2s;
    z-index: -1;
}

.one_project_box .project_links a:first-child {
    margin-right: 0.4em;
}

.one_project_box:hover .project_links a {
    opacity: 1;
    z-index: auto;
}

.one_project_box .project_links a:hover {
    background-color: var(--background_color_one);
}

.one_project_box .project_links a span {
    position: absolute;
    top: -2.3em;
    left: -1.3em;
    background-color: var(--headings_colors);
    color: var(--background_color_one);
    font-size: 0.5em;
    width: 55px;
    padding: 3px;
    border-radius: 4px;
    font-weight: 600;
    letter-spacing: 0.05em;
    opacity: 0;
    z-index: -1;
    transition: 0.5s;
}

.one_project_box .project_links a span::before {
    content: '';
    width: 6px;
    height: 6px;
    position: absolute;
    background-color: var(--headings_colors);
    bottom: -3px;
    left: 50%;
    transform: rotate(45deg);
}

.one_project_box .project_links a:hover span {
    opacity: 1;
    z-index: 1;
    transform: translateY(4px);
}

.one_project_box .project_links a i {
    color: #dfdfdf;
    transition: 0.8s;
}

.one_project_box .project_links a:hover i {
    color: var(--background_color_two);
}

@media (max-width: 1061px) {
    .projects_boxes {
        grid-template-columns: 49% 49%;
        gap: 1em;
    }
}

@media (max-width: 880px) {
    .projects_view_container .projects_heading_paragraph {
        width: 80%;
    }

    .projects_boxes {
        grid-template-columns: 60%;
        grid-template-rows: 20em 20em 20em 20em 20em 20em;
        gap: 1em;
    }
}

@media (max-width: 730px) {
    .projects_view_container .projects_heading_paragraph {
        font-size: 1.2em;
        width: 80%;
    }

    .projects_boxes {
        grid-template-columns: 80%;
    }
}

@media (max-width: 561px) {
    .projects_view_container .projects_heading_paragraph {
        font-size: 1.1em;
        width: 90%;
    }

    .projects_boxes {
        grid-template-columns: 100%;
    }
}

@media (max-width: 480px) {
    .projects_view_container .projects_heading_paragraph {
        font-size: 1em;
        width: 100%;
    }

    .projects_boxes {
        grid-template-rows: 25em 25em 25em 25em 25em 25em;
        gap: 1em;
    }

    .projects_boxes .one_project_box img {
        width: 100%;
        filter: blur(0);
    }

    .projects_boxes .one_project_box:hover img {
        transform: translateX(-90%);
        filter: blur(0px) !important;
    }

    .one_project_box .project_text_content {
        transform: translateX(10%) !important;
        width:90%;
    }

    .projects_boxes .one_project_box h4 {
        font-size: 1.5em;
    }

    .projects_boxes .one_project_box p {
        font-size: 1.3em;
        font-weight: 100;
        letter-spacing: 0.03em;
        line-height: 1.2em;
        opacity: 1;
        transition: 1s;
    }

    .one_project_box .project_links a {
        font-size: 1.3em;
        padding: 6px;
    }
}