:root {
    --headings_colors: #01ACC4;
    --form_inputs_color: #121113;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'ZCOOL QingKe HuangYou', sans-serif;
}

section,
div {
    transition: 1.5s;

}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
}