:root {
    --background_color_one: #ededed;
    --background_color_two: #000;
    --headings_colors: #01ACC4;
    --form_inputs_color: #121113;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'ZCOOL QingKe HuangYou', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
}